language: php
php:
    - 7.2
    - 7.3
    - 7.4snapshot
    - nightly

env:
    - DEPENDENCIES=
    - DEPENDENCIES=--prefer-lowest

install:
    composer update --no-interaction --prefer-stable --prefer-dist $DEPENDENCIES

script: make test

stages:
    - Code Quality
    - Test

jobs:
    allow_failures:
        - php: 7.4snapshot
        - php: nightly

    include:
        - name: Coding Standard
          php: 7.2
          script: make cs
        - name: Static Analysis
          php: 7.2
          script: make static-analysis
