<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="cache" value=".phpcs-cache"/>

    <rule ref="Cdn77"/>

    <rule ref="SlevomatCodingStandard.ControlStructures.RequireNullSafeObjectOperator" />
    <rule ref="SlevomatCodingStandard.Functions.RequireTrailingCommaInDeclaration" />
    <rule ref="SlevomatCodingStandard.TypeHints.UnionTypeHintFormat">
        <properties>
            <property name="withSpaces" value="no" />
            <property name="shortNullable" value="no" />
            <property name="nullPosition" value="last" />
        </properties>
    </rule>

    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>tests/*/data/*</exclude-pattern>
</ruleset>
