<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="cache" value=".phpcs-cache"/>

    <rule ref="Cdn77"/>

    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>tests/*/data/*</exclude-pattern>
    <!--  @todo remove when merged to upstream  -->
    <exclude-pattern>src/Cdn77/Sniffs/ControlStructures/*</exclude-pattern>
</ruleset>
