parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/tests/bootstrap.php
    level: max
    excludePaths:
        - %currentWorkingDirectory%/tests/*/data/*
        - %currentWorkingDirectory%/vendor
    paths:
        - %currentWorkingDirectory%

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
