parameters:
    bootstrap: %currentWorkingDirectory%/tests/bootstrap.php
    memory-limit: -1
    level: max
    excludes_analyse:
        - %currentWorkingDirectory%/tests/*/data/*
        - %currentWorkingDirectory%/vendor
        # @todo remove when merged to upstream
        - %currentWorkingDirectory%/src/Cdn77/Sniffs/ControlStructures/
    paths:
        - %currentWorkingDirectory%

includes:
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
