name: CI

on:
  pull_request:
  push:
    branches:
      - "*.*.x"
  workflow_dispatch:

jobs:
  coding-standard:
    runs-on: ubuntu-22.04
    name: Coding Standard

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: none
          extensions: json
          tools: cs2pr

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"

      - name: Coding Standard
        env:
          PHPCS_ARGS: -q --no-colors --report=checkstyle
        run: make -is cs | cs2pr

  phpstan:
    runs-on: ubuntu-22.04
    name: PHPStan

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: none
          extensions: json
          tools: cs2pr

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"

      - name: PHPStan
        env:
          PHPSTAN_ARGS: --error-format=checkstyle
        run: make -is static-analysis | cs2pr

  phpunit:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php-version:
          - "8.2"
        dependencies:
          - "highest"
        include:
          - dependencies: "lowest"
            php-version: "8.2"
    name: PHP ${{ matrix.php-version }} Test ${{ matrix.dependencies }}

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
          extensions: json, mbstring

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "Run PHPUnit"
        run: "vendor/bin/phpunit --coverage-clover=coverage.xml"

      - name: "Upload coverage file"
        uses: actions/upload-artifact@v4
        with:
          name: "phpunit-${{ matrix.dependencies }}-${{ matrix.php-version }}.coverage"
          path: "coverage.xml"

  upload_coverage:
    name: "Upload coverage to Codecov"
    runs-on: "ubuntu-latest"
    needs:
      - "phpunit"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: "Download coverage files"
        uses: actions/download-artifact@v4
        with:
          path: "reports"

      - name: "Upload to Codecov"
        uses: codecov/codecov-action@v3
        with:
          directory: reports
